header {
    border: 4px solid black;
    border-radius: 14px;
}

.clear:after {
    clear: both;
    display: block;
    content: '';
}

.pull-left {
    float: left;
}

.img-bordered {
    border-radius: 15px;
}

h1 {
    font-size: 5em;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}

.menu {
    margin-top: 15px;
    list-style: none;
    padding: 0;
}

.menu-inline li {
    float: left;
    display: inline-block;
    margin-right: 5px;
}

.menu li {
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    text-align: center;
}

.menu li:hover {
    background-color: #AAAAAB;
}

.menu a {
    color: black;
    font-family: Consolas;
    text-decoration: none;
}

#wheel_a {
    width: 105px;
}

#btn_nakov_wheel {
    width: 105px;
}

#content {
    width: 90%;
    height: 600px;
    margin: auto;
    margin-top: 25px;
    border-radius: 10px;
    border: 1px solid black;
}

footer {
    border-top: 2px solid black;
    margin-top: 25px;
}
